/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-section{
    padding: 25px 0;
    background-color: #2B3844;
}
.header-section__wrapper{
    display: flex;
    justify-content: space-between;
}
.header-section__title{
    margin: 0;
    font-size: 24px;
}
.header-section__btn{
    border: none;
    color: #fff;
    background-color: transparent;
}
.hero-section{
    padding: 50px 0;
    background-color: #202C36;
}
.hero-section__filter-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero-section__filter-input{
    padding: 18px 75px;
    margin-bottom: 20px;
    width: 450px;
    border: none;
    border-radius: 5px;
    background-image: url(../img/icon-search-white.svg);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-color: #2B3844;
    color: #fff;
}
.hero-section__filter-input:not(:placeholder-shown){
    background-color: #2B3844;
}
.hero-section__filter-input::placeholder{
    color: #fff;
}
.hero-section__select{
    width: 200px;
    padding: 18px 24px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color:#2B3844;
    color: #fff;
}
.hero-section__regions{
    padding: 10px;
}
.hero-section__btn{
    padding: 19px;
    border: none;
    border-radius: 5px;
    background-color: #2B3844;
    color: #fff;
}
.hero-section__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 50px 0;
    list-style: none;
}
.hero-section__card{
    margin-right: 50px;
    margin-bottom: 70px;
    padding-bottom: 50px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #2B3844;
}
.hero-section__item-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.hero-section__item-content-wrapper{
    padding: 0 25px;
}
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }


        .loading-container { margin: 40px auto; margin-top: 100px;}

        .loading {
            border: 2px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }
.white-mode{
    color: #000;
}

.white-mode
.header-section{
    background: #fff;
}
.white-mode
.hero-section{
    background-color: #fff;
}
.white-mode
.hero-section__card{
    background-color: rgb(170, 170, 170);
}
.white-mode
.hero-section__filter-input{
    background-color: rgb(209, 209, 209);
}
.white-mode
.hero-section__select{
    background-color: rgb(209, 209, 209);
}
.white-mode
.hero-section__btn{
    background-color: rgb(209, 209, 209);
}
.white-mode
.header-section__btn{
    color: #000;
}

.white-mode
.header-section{
    background-color: rgb(209, 209, 209);
}

@media only screen and (max-width: 800px) {
    .hero-section__card:not(:last-child){
     margin-right: 30px;   
    }
}
@media only screen and (max-width: 700px) {
    .hero-section__card:not(:last-child){
        margin-right: 20px;   
       }
    .hero-section__list{
        margin: 0;
    }
}
@media only screen and (max-width: 500px) {
    .hero-section__card{
        margin: 0 auto;
        margin-bottom: 50px;
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-section__card:not(:last-child){
        margin-right: 0px;   
    }
    .hero-section__filter-input{
        width: 100%;
    }
    .hero-section__form{
        justify-content: center;
    }
}